.footer{
    height: 220px;
    background: var(--bg-clr);
    border-top: 1px solid var(--border-clr);
    position: relative;
    margin-bottom: 70px;
    box-shadow: 0 0 133px var(--box-shadow)
     -0 -0 -133px var(--box-shadow);
}

.footer p{
    font-size: 12px;
    font-weight: 600;
    white-space: normal;
    text-align: justify;
    margin-right: 33px;
}
.footer__content{
    width: 100%;

}
.footer p strong{
    color: var(--dark-red);
}

.footer__arrow{
    border-radius: 4px;
    padding: 13px 22px;
    background: var(--border-clr);
    position: absolute;
    right: 0;
    margin-top: 33px;
    margin-right: 33px;
}